- if flash.any?
  .container
    - flash.each do |msg_type, msg|
      %div.alert.fade.in.alert-dismissable{class: "#{bootstrap_class_for(msg_type)}"}
        %button.close{type: 'button', data: { dismiss: 'alert' }}
          %span
            = fa_icon 'times'
        %p= msg
