body {
  margin-top: 60px;
}

.page-header {
  margin: 20px 0 10px;
}

.popover {
  max-width: 500px;
}

.metadata-content {
  display: none;
}

.popover-content {
  dl:last-child {
    margin-bottom: 0;
  }
}

.project-code {
  font-weight: normal;
  font-family: monospace;
}

#new_entry {
  #final-date,
  #workers,
  #coefficient,
  #hours,
  #hourly-rate,
  #billing-types {
    display: none;
  }
}
